<h1>2020 Invitational Sponsors</h1>
<hr>
<div class="sponsor-img-row">
    <img class="sponsor-img" src="/DivC/images/sponsorlogos/Logo_Armak.png" alt="Armak, Inc." width="30%" height="auto">
    <a href="https://www.key.com/" target="_blank"><img class="sponsor-img" src="/DivC/images/sponsorlogos/KeyBank_1795_Blk.png" alt="Key Bank" width="30%" height="auto"></a>
    <a href="https://www.athersys.com/" target="_blank"><img class="sponsor-img" src="/DivC/images/sponsorlogos/Athersys.png" alt="Atherseys" width="30%" height="auto"></a>
</div>
<div class="sponsor-img-row">
    <a href="https://www.solonrotary.org/" target="_blank"><img class="sponsor-img" src="/DivC/images/sponsorlogos/SolonClubLogo-New.png" alt="Rotary Club of Solon" width="30%" height="auto"></a>
    <a href="https://www.skil.com/" target="_blank"><img class="sponsor-img" src="/DivC/images/sponsorlogos/SKIL_Black_RGB.png" alt="Skil" width="30%" height="auto"></a>
    <a href="https://www.tsmileorthodontics.com/" target="_blank"><img class="sponsor-img" src="/DivC/images/sponsorlogos/T_Smile.png" alt="T Smile Orthodontics" width="30%" height="auto"></a>
</div>

<table id="sponsor-list" align="center">
    <tr>
        <th class="sp-gold">Gold</th>
        <th class="sp-silver">Silver</th>
        <th class="sp-bronze">Bronze</th>
    </tr>
    <tr>
        <td class="sp-gold">
            <p class="center">Armak, Inc.</p>
        </td>
        <td class="sp-silver">
            <a href="https://www.athersys.com/" target="_blank">Athersys</a>
        </td>
        <td class="sp-bronze">
            <a href="https://newimagehvac.com/" target="_blank">A New Image Heating and Cooling</a>
        </td>
    </tr>
    <tr>
        <td class="sp-gold">
            <a href="https://www.key.com/" target="_blank">Key Bank</a>
        </td>
        <td class="sp-silver">
            <a href="https://www.morganstanley.com/" target="_blank">Morgan Stanley</a>
        </td>
        <td class="sp-bronze">
            <a href="https://www.acehardware.com/" target="_blank">Solon Ace Hardware</a>
        </td>
    </tr>
    <tr>
        <td class="sp-gold"></td>
        <td class="sp-silver">
            <a href="http://rightmeetsleft.com/" target="_blank">Right Meets Left, LLC</a>
        </td>
        <td class="sp-bronze">
            <a href="https://bluefishaquariums.com/" target="_blank">Blue Fish Aquariums</a>
        </td>
    </tr>
    <tr>
        <td class="sp-gold"></td>
        <td class="sp-silver">
            <a href="https://www.solonrotary.org/" target="_blank">Rotary Club of Solon</a>
        </td>
        <td class="sp-bronze">
            <a href="https://www.econrads.com/Store/18" target="_blank">Conrad's Solon</a>
        </td>
    </tr>
    <tr>
        <td class="sp-gold"></td>
        <td class="sp-silver">
            <a href="https://www.skil.com/" target="_blank">Skil</a>
        </td>
        <td class="sp-bronze">
            <a href="https://www.metalfabricatingcorp.com/" target="_blank">Metal Fabricating Corp.</a>
        </td>
    </tr>
    <tr>
        <td class="sp-gold"></td>
        <td class="sp-silver">
            <a href="https://www.tsmileorthodontics.com/" target="_blank">T Smile Orthodontics</a>
        </td>
        <td class="sp-bronze">
            <a href="https://www.precisionsystems.com/" target="_blank">Precision System Design</a>
        </td>
    </tr>
    <tr>
        <td class="sp-gold"></td>
        <td class="sp-silver">
            <p class="center">Cathy Green</p>
        </td>
        <td class="sp-bronze">
            <a href="https://www.solonorthodontics.com/" target="_blank">Solon Orthodontics</a>
        </td>
    </tr>
    <tr>
        <td class="sp-gold"></td>
        <td class="sp-silver">
            <p class="center">The Danny Kim Family</p>
        </td>
        <td class="sp-bronze">
            <a href="https://www.tavens.com/" target="_blank">Tavens Packaging & Display Solutions</a>
        </td>
    </tr>
    <tr>
        <td class="sp-gold"></td>
        <td class="sp-silver"></td>
        <td class="sp-bronze">
            <p class="center">Rachel Jose</p>
        </td>
    </tr>
    <tr>
        <td class="sp-gold"></td>
        <td class="sp-silver"></td>
        <td class="sp-bronze">
            <p class="center">The Wesley Shen Family</p>
        </td>
    </tr>
</table>
<h2>Thank you to the following event sponsors:</h2>
<p class="center">Armak, Inc., for sponsoring Chemistry Lab</p>
<p class="center">Key Bank, for sponsoring Codebusters</p>
<p class="center">T Smile Orthodontics, for sponsoring Anatomy & Physiology</p>
<p class="center">Athersys, for sponsoring Disease Detectives</p>
<p class="center">Morgan Stanley and the Rotary Club of Solon, for sponsoring Experimental Design</p>
<p class="center">The Danny Kim Family, for sponsoring Forensics</p>
<p class="center">Cathy Green, for sponsoring Ornithology</p>
