<h1>2019 Regionals at Mentor High School</h1>
<hr>

<div class="cycle-slideshow" id="pictureshow" 
	data-cycle-slides="> a"
	data-cycle-center-horz="true"
    data-cycle-center-vert="true"
    data-cycle-swipe="true"
    data-cycle-swipe-fx="scrollHorz"
    data-cycle-timeout=7000
    data-cycle-next="#next"
    data-cycle-prev="#prev">
<a href="/DivC/pictures/2019_Regionals_Folder/ThumbsUp.jpg"><img class="huge" src="/DivC/pictures/2019_Regionals_Folder/ThumbsUp.jpg"></a>
<a href="/DivC/pictures/2019_Regionals_Folder/Mood.jpg"><img class="huge" src="/DivC/pictures/2019_Regionals_Folder/Mood.jpg"></a>
<a href="/DivC/pictures/2019_Regionals_Folder/CouncilSession.jpg"><img class="huge" src="/DivC/pictures/2019_Regionals_Folder/CouncilSession.jpg"></a>
<a href="/DivC/pictures/2019_Regionals_Folder/BoardMeeting.jpg"><img class="huge" src="/DivC/pictures/2019_Regionals_Folder/BoardMeeting.jpg"></a>
<a href="/DivC/pictures/2019_Regionals_Folder/HiThere.jpg"><img class="huge" src="/DivC/pictures/2019_Regionals_Folder/HiThere.jpg"></a>
<a href="/DivC/pictures/2019_Regionals_Folder/WannaHearAJoke.jpg"><img class="huge" src="/DivC/pictures/2019_Regionals_Folder/WannaHearAJoke.jpg"></a>
<a href="/DivC/pictures/2019_Regionals_Folder/MassiveTrophies.jpg"><img class="huge" src="/DivC/pictures/2019_Regionals_Folder/MassiveTrophies.jpg"></a>
</div>
<pre><center><a href=# id=prev>&lt;&lt;Prev</a>     <a href=# id=next>Next&gt;&gt;</a></center></pre>
<div>
<p style="text-align: center">(swipable slideshow on touchscreen)</p>
</div>

<a href="/DivC/pictures/index.html"><p style="text-align: center">Return to Index</p></a>
