<h1>2019 Cornell</h1>
<hr>

<div class="cycle-slideshow" id="pictureshow" 
	data-cycle-slides="> a"
	data-cycle-center-horz="true"
    data-cycle-center-vert="true"
    data-cycle-swipe="true"
    data-cycle-swipe-fx="scrollHorz"
    data-cycle-timeout=7000
    data-cycle-next="#next"
    data-cycle-prev="#prev">
<a href="/DivC/pictures/2019_Cornell_Folder/TheTower.jpg"><img class="huge" src="/DivC/pictures/2019_Cornell_Folder/TheTower.jpg"></a>
<a href="/DivC/pictures/2019_Cornell_Folder/OhYoureApproachingMe.jpg"><img class="huge" src="/DivC/pictures/2019_Cornell_Folder/OhYoureApproachingMe.jpg"></a>
<a href="/DivC/pictures/2019_Cornell_Folder/PowerStance.jpg"><img class="huge" src="/DivC/pictures/2019_Cornell_Folder/PowerStance.jpg"></a>
<a href="/DivC/pictures/2019_Cornell_Folder/LookBehindYou.jpg"><img class="huge" src="/DivC/pictures/2019_Cornell_Folder/LookBehindYou.jpg"></a>
<a href="/DivC/pictures/2019_Cornell_Folder/Stress.jpg"><img class="huge" src="/DivC/pictures/2019_Cornell_Folder/Stress.jpg"></a>
<a href="/DivC/pictures/2019_Cornell_Folder/Wazzup.jpg"><img class="huge" src="/DivC/pictures/2019_Cornell_Folder/Wazzup.jpg"></a>
</div>
<pre><center><a href=# id=prev>&lt;&lt;Prev</a>     <a href=# id=next>Next&gt;&gt;</a></center></pre>
<div>
<p style="text-align: center">(swipable slideshow on touchscreen)</p>
</div>

<a href="/DivC/pictures/index.html"><p style="text-align: center">Return to Index</p></a>
