<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>

<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107842441-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-107842441-1');
</script>

<meta charset="utf-8">
<title>Solon Science Olympiad</title>
<link rel="stylesheet" href="/DivC/stylesheet.css">
<link rel="shortcut icon" href="/DivC/images/faviconPNG.png">
<!------For "scrollSneak"---->
<script src="/DivC/scripts/scrollSneak.js"></script>
<script src="/DivC/scripts/jquery.min.js"></script>
<noscript> Your browser does not support JavaScript. </noscript>
</head>

<body>
<div id="container">
<header id="superheader">
<figure id="texty">
<a href="https://www.solonscienceolympiad.org/DivC/index.html">
<img src="/DivC/images/headerV3.png" alt="Solon  Science Olympiad" width="673" height="101" border="0" /></a>
</figure>

<!-- Display the countdown timer in an element
<p id="demo"></p>
<script>
// Set the date we're counting down to
var countDownDate = new Date("Sep 5, 2018 15:37:25").getTime()
var x = setInterval(function() {
  // Get todays date and time
  var now = new Date().getTime();
  // Find the distance between now an the count down date
  var distance = countDownDate - now;
  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  // Display the result in the element with id="demo"
  document.getElementById("demo").innerHTML = days + "d " + hours + "h "
  + minutes + "m " ;
}, 1000);
</script>
-->
<!------------ THESE ARE THE CAROUSEL SETTINGS -------------->

<figure id="slideshow"
	class="cycle-slideshow"
	data-cycle-random="true"
	data-cycle-fx="carousel"
	data-cycle-speed="500"
    data-cycle-timeout="10000"

>
	<!------------ THESE ARE THE CAROUSEL IMAGES -------------->
		<!-- <img src="/DivC/images/2014_Sylvania-Northview/ActuallyStudying.jpg" alt="" height="200" />
		<img src="/DivC/images/2014_Sylvania-Northview/Coaches.jpg" alt="" height="200" />
		<img src="/DivC/images/2014_Sylvania-Northview/HoodiesAreCool.jpg" alt="" height="200" />
		<img src="/DivC/images/2014_Sylvania-Northview/JonathanSmiles.jpg" alt="" height="200" />
		<img src="/DivC/images/2014_Sylvania-Northview/Stars.jpg" alt="" height="200" />
		<img src="/DivC/images/2014_Sylvania-Northview/TeamPic.jpg" alt="" height="200" />
		<img src="/DivC/images/2014_Sylvania-Northview/Awards3.jpg" alt="" height="200" /> -->
		<img src="/DivC/images/2019_Centerville/IMG_0275_resized.JPG" alt="" height="200" decoding="aysnc" />
		<img src="/DivC/images/2019_Centerville/IMG_0220_resized.JPG" alt="" height="200" decoding="aysnc" />
		<img src="/DivC/images/2019_Centerville/IMG_0054_resized.JPG" alt="" height="200" decoding="aysnc" />
		<img src="/DivC/images/2019_Centerville/IMG_0239_resized.JPG" alt="" height="200" decoding="aysnc" />
		<img src="/DivC/images/2019_Centerville/IMG_0125_resized.JPG" alt="" height="200" decoding="aysnc" />
		<img src="/DivC/images/2019_Centerville/IMG_0035_resized.JPG" alt="" height="200" decoding="aysnc" />
		<img src="/DivC/images/2019_Centerville/IMG_0014_resized.JPG" alt="" height="200" decoding="aysnc" />
		<img src="/DivC/images/2019_Centerville/IMG_0002_resized.JPG" alt="" height="200" decoding="aysnc" />
		<img src="/DivC/images/2019_Centerville/IMG_0092_resized.JPG" alt="" height="200" decoding="aysnc" />
		<img src="/DivC/images/2019_Centerville/IMG_0011_resized.JPG" alt="" height="200" decoding="aysnc" />





		<!-- <img src="/DivC/images/2014_Sylvania-Northview/HappyPhone.jpg" alt="" height="200" /> -->
		<!-- <img src="/DivC/images/2014_Sylvania-Northview/Awards1.jpg" alt="" height="200" />
		<img src="/DivC/images/2014_Sylvania-Northview/Awards2.jpg" alt="" height="200" />
		<img src="/DivC/images/2014_Sylvania-Northview/Awards3.jpg" alt="" height="200" />
		<img src="/DivC/images/2014_Sylvania-Northview/Awards4.jpg" alt="" height="200" />
		<img src="/DivC/images/2014_Sylvania-Northview/Awards5.jpg" alt="" height="200" />
		<img src="/DivC/images/2014_Sylvania-Northview/Awards6.jpg" alt="" height="200" />
		<img src="/DivC/images/2014_Sylvania-Northview/Awards7.jpg" alt="" height="200" />
		<img src="/DivC/images/2014_Sylvania-Northview/Awards8.jpg" alt="" height="200" />
		<img src="/DivC/images/2014_Sylvania-Northview/Awards9.jpg" alt="" height="200" />
		<img src="/DivC/images/2014_Sylvania-Northview/Awards10.jpg" alt="" height="200" />
		<img src="/DivC/images/2014_Sylvania-Northview/Awards11.jpg" alt="" height="200" />
		<img src="/DivC/images/2014_Sylvania-Northview/Awards12.jpg" alt="" height="200" />
		<img src="/DivC/images/2014_Sylvania-Northview/Awards13.jpg" alt="" height="200" />
		<img src="/DivC/images/2014_Sylvania-Northview/Awards14.jpg" alt="" height="200" />
		<img src="/DivC/images/2014_Sylvania-Northview/Awards15.jpg" alt="" height="200" /> -->
		<!-- <img src="/DivC/images/backgroundheaderdream15.png" alt="" width="900" height="200" /> --></figure>
</header>
<nav id="horizontal">
       <div class="dropdown">
       <a class="tab" href="#"><div>Home</div></a>
          <div class="dropdown-content">
             <a class="tab" href="/DivC/overview.html">Overview</a>
             <a class="tab" href="/DivC/calendar.html">Calendar</a>
             <a class="tab" href="/DivC/index.html">News</a>
          </div>
       </div>

    <div class="dropdown">
       <a class="tab" href="#"><div>Team</div></a>
          <div class="dropdown-content">
             <a class="tab" href="/DivC/team/2019-2020.html">Our Team</a>
             <a class="tab" href="/DivC/results/2019_Nationals.html">Results</a>
             <a class="tab" href="/DivC/pictures/index.html">Pictures</a>
             <a class="tab" href="/DivC/alumni.html">Alumni</a>
          </div>
       </div>

 <div class="dropdown">
       <a class="tab" href="#"><div>Links</div></a>
          <div class="dropdown-content">
             <a class="tab" href="/DivC/misc/resourcesnew.html">Resources</a>
             <a class="tab" href="/DivC/news-archive/index.html">News Archive</a>
             <a class="tab" href="/DivC/results/index.html">Results Archive</a>
          </div>
       </div>
<div class="dropdown">
       <a class="tab" href="https://sites.google.com/view/shsso-invitational"><div>Invitational</div></a>
</div>
	<!--<a class="tab" href="/DivC/team/2017-2018.html"><div>Team</div></a>
	<a class="tab" href="/DivC/calendar/"><div>Calendar</div></a>

	  <a class="tab" href="/DivC/results/2017_Nationals.html"><div>Results</div></a>-->
<!--<div class="dropdown">
  <a class="tab" href="/DivC/results/2017_Nationals.html"><div>Results</div></a>

</div>-->
<div class="dropdown">
	<a class="tab" href="/DivC/sponsors/"><div>Sponsors</div></a>
</div>
	<!--<a id="more" href="javascript:toggleNav()">More ↓</a>-->
</nav>

<script>
    function is_touch_device() {
        return !!('ontouchstart' in window || navigator.maxTouchPoints);
    }
</script>

<!-- added to account for removal of side nav bar -->
<section id="content">
<br/>

<!-- content is inserted here -->
<%= yield %>

<!-------------------------------- DO NOT WRITE ANYTHING BELOW HERE-------------->
</section>
</section>
<div id="push"></div>
</div>

<footer>
<!--	<h1 style="text-align: center"><a style="color:white" href="/DivC/invitational/2019.html">2019 Solon High School Invitational Information - Here</a></h1>
-->
	<div id="footer-links">
		<a href="/DivC/misc/devlog.html">Development Log</a><br>
		<a href="/DivC/contact-us.html">Contact Info</a><br>
		<a href="/DivC/misc/credits.html">Website Credits</a><br>
	</div>
</footer>




<script>

$(window).scroll(function(){
    $("#fixed-sidebar").css("top", Math.max(0, Math.max($("#list-nav").outerHeight(),600)+ 416 - $(this).scrollTop()));
    // modify this to include point where element is no longer following scroll window so that it doesn't go into
    // the footer
});

function toggleDisplay(elem) {
if(elem.style.display == "block") { elem.style.display = "none"; }
else { elem.style.display = "block"; }
$("#fixed-sidebar").css("top", Math.max(-80, Math.max($("#list-nav").outerHeight(),600)+ 416 - $(this).scrollTop()));
}

function HideContent(d) {
document.getElementById(d).style.display = "none";
}
function ShowContent(d) {
document.getElementById(d).style.display = "block";
}
function ReverseDisplay(d) {
if(document.getElementById(d).style.display == "none") { document.getElementById(d).style.display = "block"; }
else { document.getElementById(d).style.display = "block"; }
}
function ReverseDisplayS() {
if(document.getElementById("showmore").style.display == "none") { document.getElementById("showmore").style.display = "block"; }
else { document.getElementById("showmore").style.display = "none"; }
}

function ReverseDisplayA() {
if(document.getElementById("aboutus").style.display == "none") { document.getElementById("aboutus").style.display = "block"; }
else { document.getElementById("aboutus").style.display = "none"; }
}

function ReverseMultipleDisplays(className, defaultDisplay) {
	var x = document.getElementsByClassName(className);
	var i;

	if(x[0].style.display == "none"){
		for(i=0; i<x.length; i++){
			x[i].style.display = defaultDisplay;
		}
	}

	else{
		for(i=0; i<x.length; i++){
			x[i].style.display = "none";
		}
	}
}

function toggleNav()
{
  if(document.getElementById("vertical").style.display=="block"){
   document.getElementById("vertical").style.display="none";
   document.getElementById("more").innerHTML = "More ↓";
   }
  else{
   document.getElementById("vertical").style.display="block";
   document.getElementById("more").innerHTML = "Less ↑";
   }
}


</script>

<!------For slideshows-------->
<script src="/DivC/scripts/jquery.cycle2.min.js"></script>
<script src="/DivC/scripts/jquery.cycle2.carousel.min.js"></script>
<script src="/DivC/scripts/jquery.cycle2.center.min.js"></script>
<script src="/DivC/scripts/jquery.cycle2.swipe.min.js"></script>

<!-- SCROLL SNEAK JS: you can change `location.hostname` to any unique string or leave it as is -->
<script>
(function() {
    var sneaky = new ScrollSneak(location.hostname)
    $("#horizontal a").each(function(){ $(this).click(sneaky.sneak); });
})();
</script>
<!-- END OF SCROLL SNEAK JS -->

</body>
</html>
