<div class="twrap"><table class="resultsMenu"><tr>
<th id = "rMLeft"><a href="/DivC/results/">prev</a>
</th><th id = "rMCenter">2011 Frankenmuth Invitational</a>
</th><th id = "rMRight"><a href="/DivC/results/">next</a>
</th></tr></table></div>

<div class="twrap"><table>
<tr><td width="48%" valign="top">
Solon Team A11 finishing ___ overall<br>with a score of ___<br><br>

<font size="2" style="arial">

<b>1st Place</b><br>
Diseased: Aditya & Sperling<br>
Mission: Andrew, Ben<br>
Wind Power: Stephen, John S<br>

<br>
<b>2nd Place</b><br>
XPD: Lillian, Sperling, Victoria<br>
Fossils: Ben, Andrew<br>
Protein: Sonia, Aditya, Tiffany<br>

<br>
<b>3rd Place</b><br>
Anatomy: Aditya & Chanu<br>
Chem Lab: Stephen & Lisa<br>
Mousetrap: Andrew<br>
Sounds: Stephen, Lillian<br>
TPS: Chanu, Sperls<br>

<br>
<b>4th Place</b><br>
Remote: Tony, Ayush<br>

<br>
<b>5th Place</b><br>



<br>
<b>6th Place</b><br>
Astronomy: John S & Sperling<br>


<br>
<br></font>
</td>

<td width="4%"></td>

<td width=48% valign="top">
Solon Team C9, finishing ___ overall<br>with a score of ___<br><br>

<font size="2">

<b>1st Place</b><br>
Ecology: Olivahhhhh, Stephanie S<br>
Forensics: Michael Luo, Shashank<br>
Fossils: Stephanie S, Ojas<br>
Microbe: Roger, Nick<br>
Ornithology: Stephanie S, Ojas<br>
Protein: Ojas, Thomas, Rogahhh<br>
Remote: Rohan, Olivahhh<br>
Towers: Thomas Yizer<br>
<br>

<b>2nd Place</b><br>
Chem Lab: Michael Li & Nick<br>
Dynamic: Stephanie, Stephanie<br>
Optics: Rohan, Michaeli<br>
Wind Power: Oliver, Nick<br>

<br>
<b>3rd Place</b><br>

Astronomy: Stephanie Z & Michael Li<br>
XPD: Roger, Kernan, Elliot<br>
Heli: Stephanie Z<br>

<br>
<b>4th Place</b><br>


<br>
<b>5th Place</b><br>
TPS: Nick, Roger<br>


<br>
<b>6th Place</b><br>
Sounds: Michael Li, Roger<br>
Anatomy: Nick & Shashank<br>


<br>

<br>
</font></td>
<tr>
</table></div>


</div>
