<div class="twrap"><table class="resultsMenu"><tr>
<th id = "rMLeft"><a href="/DivC/results/2012_States.html">prev</a>
</th><th id = "rMCenter">2012 Nationals</a>
</th><th id = "rMRight"><a href="/DivC/results/2012_Sylvania-Northview.html">next</a>
</th></tr></table></div>

<div class="twrap"><table class="results-text">
<tr><td width="48%" valign="top">
Solon Team 13C, finishing 1st overall with a score of 158<br><br>

<font size="2" style="arial">

<b>1st Place</b><br>
Elastic Launch Glider: Lauren & Thomas <br>
Forestry: Crystal & Ben <br>
Thermodynamics: Stephen & Jack <br>
Tower Building: Kevin & Andrew <br>
Write It/Do It: Stephen & Stephanie <br>

<br>
<b>2nd Place</b><br>
Chemistry Lab: Stephen & Lisa <br>
Dynamic Planet: Alan & Stephanie <br>
Rocks & Minerals: Yuxi & Stephanie <br>

<br>
<b>3rd Place</b><br>
Sounds of Music: John & Kevin <br>

<br>
<b>4th Place</b><br>
Robot Arm: Andrew & Ben <br>

<br>
<b>5th Place</b><br>
Astronomy: Roger & Alan <br>
Helicopters: John & Roger <br>
Water Quality: Yuxi & Nick<br>

<br>
<b>6th Place</b><br>
Experimental Design: Roger, Yuxi, Aditya <br>
Forensics: Stephen & Stephanie <br>
Elastic Launch Gliders: Lauren & Thomas <br>

<br>
<b>7th Place</b><br>
Fermi Questions: Chanu & Jack <br>
Remote Sensing: Alan & Jack <br>

<br>
<b>8th Place</b><br>
MagLev: Michael Li & Rick <br>
Disease Detectives: Aditya & Nick <br>

<br>
<b>9th Place</b><br>
Anatomy and Physiology: Aditya & Nick <br>
Gravity Vehicle: Andrew & Ben <br>
Protein Modeling: John, Kevin, Crystal <br>

<br>
<b>17th Place</b><br>
Microbe Mission: Lisa & Roger <br>

<br>
<b>20th Place</b><br>
Technical Problem Solving: Lisa & Chanu <br>

<br>
<b>28th Place</b><br>
Optics: Jack & John
<br>
<br></font>
</td>

</table></div>


</div>
