<div class="twrap"><table class="resultsMenu"><tr>
<th id = "rMLeft"><a href="/DivC/results/2013_WestLiberty-Salem.html">prev</a>
</th><th id = "rMCenter">2013 States @ OSU</a>
</th><th id = "rMRight"><a href="/DivC/results/2013_Nationals.html">next</a>
</th></tr></table></div>

<div class="twrap"><table class="results-text"><tr>
<td width='100%' valign='top'>
Solon Team 1, finishing 1st overall with a score of 52<br><br><font size='2' style='arial'>
<b class='no-spacing small'>1st Place</b><br><span id='b0' class='no-spacing small'>Astronomy: Alan & Hyunwook</span><br>
<span id='b1' class='no-spacing small'>Chemistry Lab: Jonathan & Stephen</span><br>
<span id='b2' class='no-spacing small'>Disease Detectives: Aditya & Thomas</span><br>
<span id='b3' class='no-spacing small'>Dynamic Planet: Alan & Nick</span><br>
<span id='b4' class='no-spacing small'>Experimental Design: Zach & Jonathan & Jessica</span><br>
<span id='b5' class='no-spacing small'>Remote Sensing: Alan & Jack</span><br>
<span id='b6' class='no-spacing small'>Technical Problem Solving: Chanu & Stephen</span><br>
<span id='b7' class='no-spacing small'>Thermodynamics: Chanu & Jack</span><br>
<br><b class='no-spacing small'>2nd Place</b><br><span id='b0' class='no-spacing small'>Designer Genes: Jonathan & Kevin</span><br>
<span id='b1' class='no-spacing small'>Fermi Questions: Alan & Jack</span><br>
<span id='b2' class='no-spacing small'>Forensics: Stephen & Stephanie</span><br>
<span id='b3' class='no-spacing small'>Forestry: Crystal & Jessica</span><br>
<span id='b4' class='no-spacing small'>MagLev: Zach & Tyler</span><br>
<span id='b5' class='no-spacing small'>Materials Science: Zach & Jonathan</span><br>
<span id='b6' class='no-spacing small'>Robot Arm: Tyler & Alan</span><br>
<span id='b7' class='no-spacing small'>Rocks and Minerals: Hyunwook & Stephanie</span><br>
<span id='b8' class='no-spacing small'>Water Quality: Crystal & Nick</span><br>
<span id='b9' class='no-spacing small'>Write It Do It: Stephen & Stephanie</span><br>
<span id='b10' class='no-spacing small'>Geologic Mapping (Trial Event): Paul & Rohan</span><br>
<br><b class='no-spacing small'>3rd Place</b><br><span id='b0' class='no-spacing small'>Circuit Lab: Tyler & Chanu</span><br>
<span id='b1' class='no-spacing small'>Gravity Vehicle: Tyler & Kevin</span><br>
<br><b class='no-spacing small'>4th Place</b><br><span id='b0' class='no-spacing small'>Boomilevers: Kevin & Thomas</span><br>
<br><b class='no-spacing small'>5th Place</b><br><span id='b0' class='no-spacing small'>Anatomy & Physiology: Nick & Aditya</span><br>
<span id='b1' class='no-spacing small'>Green Generation (Trial Event): Katrina & Shashank</span><br>
<br><b class='no-spacing small'>9th Place</b><br><span id='b0' class='no-spacing small'>Elastic Launch Glider: Stephanie & Thomas</span><br>
<br></font></td></tr></table></div>



</div>
