<div class="twrap"><table class="resultsMenu"><tr>
<th id = "rMLeft"><a href="/DivC/results/2014_Regionals.html">prev</a>
</th><th id = "rMCenter">2014 West Liberty-Salem Invitational</a>
</th><th id = "rMRight"><a href="/DivC/results/2014_States.html">next</a>
</th></tr></table></div>

<div class="twrap"><table class="results-text"><tr>
<td width='48%' valign='top'>
Solon Team 12<br><br><font size='2' style='arial'>
<b class='no-spacing small'>1st Place</b><br><span id='b0' class='no-spacing small'>Boomilever: Jon & Kevin</span><br>
<span id='b1' class='no-spacing small'>Bungee Drop: Alan & Jessica</span><br>
<span id='b2' class='no-spacing small'>GeoLogic Mapping: Alan & Austin</span><br>
<br><b class='no-spacing small'>2nd Place</b><br><span id='b0' class='no-spacing small'>Water Quality: Emily & Katie</span><br>
<br><b class='no-spacing small'>3rd Place</b><br><span id='b0' class='no-spacing small'>Astronomy: Hyunwook & Rohin</span><br>
<span id='b1' class='no-spacing small'>Chemistry Lab: Hyunwook & Jonathan</span><br>
<span id='b2' class='no-spacing small'>Compound Machines: David & Kevin</span><br>
<span id='b3' class='no-spacing small'>Designer Genes: Jonathan & Kevin</span><br>
<span id='b4' class='no-spacing small'>Write It Do It: Hyunwook & Jessica</span><br>
<br><b class='no-spacing small'>7th Place</b><br><span id='b0' class='no-spacing small'>Materials Science: David & Sara</span><br>
<br><b class='no-spacing small'>8th Place</b><br><span id='b0' class='no-spacing small'>Dynamic Planet: Jon & Rohin</span><br>
<span id='b1' class='no-spacing small'>Scrambler: David & Igor</span><br>
<br></font></td><td width='4%' valign='top'></td>
<td width='48%' valign='top'>
Solon Team 13, finishing 3rd overall<br><br><font size='2' style='arial'>
<b class='no-spacing small'>1st Place</b><br><span id='b0' class='no-spacing small'>Rocks and Minerals: Josh & Lily</span><br>
<br><b class='no-spacing small'>2nd Place</b><br><span id='b0' class='no-spacing small'>Anatomy & Physiology: John & Nick</span><br>
<span id='b1' class='no-spacing small'>Circuit Lab: Tyler & Zach</span><br>
<span id='b2' class='no-spacing small'>Disease Detectives: Achuth & Nick</span><br>
<span id='b3' class='no-spacing small'>Materials Science: Catherine & Lily</span><br>
<span id='b4' class='no-spacing small'>Scrambler: Alan & Tyler</span><br>
<span id='b5' class='no-spacing small'>Technical Problem Solving: Jack & Zach</span><br>
<br><b class='no-spacing small'>4th Place</b><br><span id='b0' class='no-spacing small'>Entomology: Lois & Paul</span><br>
<span id='b1' class='no-spacing small'>Write It Do It: Achuth & Lois</span><br>
<br><b class='no-spacing small'>6th Place</b><br><span id='b0' class='no-spacing small'>Compound Machines: John & Zach</span><br>
<span id='b1' class='no-spacing small'>Designer Genes: Catherine & Nick</span><br>
<span id='b2' class='no-spacing small'>Forensics: Katrina & Lily</span><br>
<span id='b3' class='no-spacing small'>Water Quality: Amanda & Nick</span><br>
<br><b class='no-spacing small'>7th Place</b><br><span id='b0' class='no-spacing small'>Astronomy: Eliot & Josh</span><br>
<span id='b1' class='no-spacing small'>Experimental Design: Amanda & Katrina & Paul</span><br>
<br><b class='no-spacing small'>8th Place</b><br><span id='b0' class='no-spacing small'>Elastic Launched Glider: Catherine & Paul</span><br>
<span id='b1' class='no-spacing small'>GeoLogic Mapping: Lois & Paul</span><br>
<br></font></td></tr></table></div>


</div>
