@charset "utf-8";
/* For the Invitational Page Only */
h4 {
    text-align: center;
} 
h3 {
    text-align: center;
} 
h2 {
    text-align: center;
    color:#7070C6;
} 
body
{
	margin:0;
	font-size:100%
}
#body
{
	margin:0;
	position:fixed;
	/*background-repeat:no-repeat;
	background-image:url("https://solonscienceolympiad.org/DivC/StarburstGalaxy.jpg");
	background-size:cover;*/
	background-color: #000000;
	font-size:100%;
	width:100%;
	height:100%;
	z-index:-5;
}
#center
{
	font-family: 'Lato', sans-serif;
	font-weight:400;
	position:absolute;
	background-color:transparent;
	opacity:1;
	color:white;
	width: 100%;		/*change site width here and...*/
	margin-left:0;
	margin-right:0;
	height:100%;
	top:0px;
	/*font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, 				sans-serif;*/
}
#backcenter
{
	position:fixed;
	background-color:#000000;
	opacity:0.7;
	width:100%;		/*also change site width here.*/
	margin-left:0;
	margin-right:0;
	top:0px;
	height:100%;
	z-index:-2;
}
.intwelcome
{
	padding-top:5%;
	font-family:'Lato', sans-serif;
	font-weight:100;
	font-size:4em;
	font-style:italic;
	background-color:transparent;
	margin-left:3%;
	overflow:hidden;
}
.inthead
{
	/*font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;'Lato', sans-serif;*/
	font-family:"DejaVu Sans";
	font-weight:300;
	font-size:700%;
	color:white;
	padding-top:20px;
	padding-left:2%;
	padding-right:7%;
	overflow:hidden;
	z-index:3;
}
.texty
{
	z-index:4;
}
.divb
{
	font-family:'Lato',sans-serif;
	font-weight:300;
	font-size:2em;
	margin-top:10px;
	padding-left:7%;
	overflow:hidden;
}
.intbody1
{
	font-size:1.5em;
	color:white;
	margin-top:15px;
	padding-top:20px;
	padding-left:20%;
	font-style:italic;
	overflow:hidden;
}
.maindivb
{
	font-size:3em;
	font-family:'Lato', sans-serif;
	font-weight:300;
	font-style:italic;
	color:white;
	position:absolute;
	right:5%;
	top:200px;
	padding-top:10px;
}
.mainstrip
{
	background-color:#092F68;
	opacity:.8;
	position:absolute;
	top:300px;
	height:60px;
	width:100%;
	left:0%;
	padding:0;
	margin:0;
	border:none;
	z-index:1;
	overflow:hidden;
	border-top:solid #CBCBCB;
	border-top-width:thin;
	border-bottom:solid #CBCBCB;
	border-bottom-width:thin;

}
.container
{
	width:100%;
	height:100%;
	background-color:transparent;
	overflow:hidden;
	position:absolute;
	top:0;
	z-index:-1;
}
.stripcolora
{
	background-color:#026EC5;
	opacity:.5;
	height:60px;
	width:20%;
	position:absolute;
	right:0%;
	top:0px;
	padding:0;
	margin:0;
	border:none;
}
.striptext
{
	background-color:transparent;
	opacity:1;
	position:absolute;
	top:300px;
	height:60px;
	width:100%;
	left:0%;
	padding:0;
	margin:0;
	border:none;
	font-family:'Lato', sans-serif;
	font-weight:500;
	font-size:50px;
	line-height:60px;
	color:#FFFFFF;
	text-align:center;
	z-index:2;
}
.stripcolorb
{
	background-color:#026EC5;
	opacity:.5;
	height:60px;
	width:20%;
	position:absolute;
	left:0%;
	top:0px;
	padding:0;
	margin:0;
	border:none;
}
.striptextback
{
	position:relative;
	top:0px;
	margin-left:auto;
	margin-right:auto;
	width:300px;
	height:60px;
	background-color:#1AB2E0;
	opacity:.5;
	z-index:-1;
}
.striptrileft
{
	position:absolute;
	top:0px;
	left:-50px;
	border-top:30px solid transparent;
	border-bottom:30px solid transparent;
	border-right:50px solid #1AB2E0;
}
.striptrileftdarken
{
	position:absolute;
	top:0px;
	left:-50px;
	border-top:30px solid transparent;
	border-bottom:30px solid transparent;
	border-right:50px solid #000000;
	opacity:.3;
}
.striptextbackleftdarken
{
	position:absolute;
	top:0px;
	left:0px;
	border-top:0px solid transparent;
	border-bottom: 60px solid transparent;
	border-left:400px solid #000000;
	opacity:.3
}
.striptriright
{
	position:absolute;
	top:0px;
	right:-50px;
	border-top:30px solid transparent;
	border-bottom:30px solid transparent;
	border-left:50px solid #1AB2E0;
}
.striptria
{
	position:absolute;
	top:0px;
	left:0px;
	border-top:0px solid transparent;
	border-bottom:60px solid transparent;
	border-left: 100px solid #129DEB;
}
.striptrib
{
	position:absolute;
	top:0px;
	right:0px;
	border-top:60px solid transparent;
	border-bottom:0px solid transparent;
	border-right: 100px solid #129DEB;
}
.stripmaintria
{
	position:absolute;
	left:20%;
	top:0px;
	width:0;
	height:0;
	opacity:.5;
	border-left: 100px solid #026EC5;
	border-top: 0px solid transparent;
	border-bottom:60px solid transparent;
}
.stripmaintrib
{
	position:absolute;
	right:20%;
	top:0px;
	width:0;
	height:0;
	opacity:.5;
	border-right: 100px solid #026EC5;
	border-top: 60px solid transparent;
	border-bottom:0px solid transparent;
}
.intbody3
{
	font-size:1.5em;
	color:white;
	padding-top:10px;
	padding-left:30%;
	overflow:hidden;
}
.topbar
{
	width:100%;
	background-color:#585858;
	height:1.9em;
	color:white;
	font-size:18px;
	text-height:20px;
	overflow:hidden;
	z-index:10;
}
.bottombar
{
	width:100%;
	color: white;
	background-color:#585858;
	height:2%;
	font-size:100%;
	text-align:right;
	bottom:0px;
	position:fixed;
	bottom:0px;
	z-index:10;
}
.nav
{
	margin:0;
	padding:0;
	list-style-type:none;
	overflow:hidden;
}
.nav li
{
	
	float:left;
	color:white;
	padding:0;
	border:0;
	margin:0;
	width:15%;
	overflow:hidden;
}
.nav a
{
	position:relative;
	top:0px;
	display:block;
	padding:1%;
	border:0;
	margin:0;
	background-color:#585858;
	text-align:center;
	font-size:110%;
	font-family:'Lato',sans-serif;
	font-weight:300;
	color:white;
	text-decoration:none;
	height:1.5em;
	line-height:1.5em;
	overflow:hidden;
}
a.main
{
	display:block;
	color:white;
	text-decoration:none;
	text-align:center;
	font-size:2em;
	font-weight:100;
	position:relative;
	background-color:#0084FF;
	opacity:.9;
	width:130px;
	margin-right:auto;
	margin-left:auto;
	height:70px;
	margin-top:10%;
	text-align:center;
	text-shadow:#FFFFFF;
	line-height:70px;
	border-radius:25px;
	border-color:#0977B4;
	border-width:thin;
	margin-bottom:5%;
}
a.main:hover
{
	background-color:#144C7A;
}
a.main:active
{
	background-color:#44A9D9;
}
.nav a:hover
{
	background-color:#2E2E2E;
}
.nav a:active
{
	background-color:#9F9F9F;
}
.aright {
	position:absolute;
	left:0px;
	top:0px;
	width: 0; 
	height: 0; 
	border-top: 0px solid transparent;
	border-bottom: 30px solid transparent;
	border-left: 90px solid #0B3E6C;
}
.nav ul
{
	margin:0;
	padding:0;
	list-style-type:none;
	overflow:hidden;
	background-color:transparent;
	position:absolute;
	left:-9099px;
	width:15%
}
.nav ul li
{
	width:100%;
	color:white;
}
.nav ul a
{
	background-color:transparent;
	font-size:110%;
	text-decoration:none;
	color:white;
	text-align:center;
	padding:1%;
	font-family:'Lato', sans-serif;
	overflow:hidden;
	font-weight:300;
	margin:0;
}
.nav li:hover ul
{
	left:25%;
}
.nav li:hover a
{
	background:#2E2E2E;
	text-decoration:none;
}
.nav li:hover ul a
{
	text-decoration:none;
}
.nav li:hover ul li a:hover{
	background:#BCBCBC;
}


.nav ul.o
{
	margin:0;
	padding:0;
	list-style-type:none;
	overflow:hidden;
	background-color:transparent;
	position:absolute;
	left:-9099px;
	width:15%
}
.nav ul.o li
{
	width:100%;
	color:white;
}
.nav ul.o a
{
	background-color:transparent;
	font-size:110%;
	text-decoration:none;
	color:white;
	text-align:center;
	padding:1%;
	font-family:'Lato', sans-serif;
	overflow:hiddem;
	font-weight:300;
	margin:0;
}
.nav li:hover ul.o
{
	left:55%;
}
.nav li:hover a
{
	background:#2E2E2E;
	text-decoration:none;
}
.nav li:hover ul.o a
{
	text-decoration:none;
}
.nav li:hover ul.o li a:hover{
	background:#BCBCBC;
}
.maintext
{
	width:86%;
	padding:1% 7% 3% 7%;
	font-size:20px;
	color:white;
	position:absolute;
	left:0;
	top:370px;
	font-family:'Lato',sans-serif;
	font-weight:400;
	background-color:transparent;
}
.maintextcenter
{
	width:86%;
	font-size:30px;
	color:black;
	position:absolute;
	left:0;
	top:470px;
	font-family:'Lato',sans-serif;
	background-color:transparent;
	text-align:center;
	padding:3% 7% 3% 7%;
	font-weight:bold;
}
.mainhead
{
	position:relative;
	left:0px;
	width:100%;
	height:34px;
	margin:0;
	padding:0;
	font-size:35px;
	color:white;
	font-family:'Lato',sans-serif;
	font-weight:200;
	background-color:transparent;
	overflow:hidden;
}
.headtext
{
	position:absolute;
	left:50%;
	margin:0 -100px;
	width:200px;
	top:0px;
	height:34px;
	font-size:25px;
	font-weight:bold;
	z-index:1;
	line-height: 34px;
	background-color:#1AB2E0;
	text-align:center;
	border-radius:25px;
}
.headtextback
{
	font-size: 0px; line-height: 0%; width: 0px;
	font-size: 0px; line-height: 0%; width: 0px;
	position:absolute;
	top:0px;
	left:50%;
	margin:0 -150px;
	width:300px;
	height:34px;
	background-color:#1AB2E0;
	opacity:.5;
	z-index:-1;
}
.headtrileft
{
	font-size: 0px; line-height: 0%; width: 0px;
	position:absolute;
	top:0px;
	left:-50px;
	border-top:17px solid transparent;
	border-bottom:17px solid transparent;
	border-right:50px solid #1AB2E0;
}
.headtrileftdarken
{
	font-size: 0px; line-height: 0%; width: 0px;
	position:absolute;
	top:0px;
	left:-50px;
	border-top:17px solid transparent;
	border-bottom:17px solid transparent;
	border-right:50px solid #000000;
	opacity:.3;
}
.headtextbackleftdarken
{
	font-size: 0px; line-height: 0%; width: 0px;
	position:absolute;
	top:0px;
	left:0px;
	border-top:0px solid transparent;
	border-bottom: 34px solid transparent;
	border-left:300px solid #000000;
	opacity:.3
}
/* Nice #129DEB */
.headtriright
{
	position:absolute;
	top:0px;
	right:-50px;
	border-top:17px solid transparent;
	border-bottom:17px solid transparent;
	border-left:50px solid #1AB2E0;
}
#scriptfail
{
	position:absolute;
	top:0px;
	left:0px;
	margin:0;
	padding:0;
	height:25px;
	width:100%;
	text-align:center;
	font-size:16px;
	line-height:25px;

}
#logoarea
{
	position:absolute;
	top:34.4px;
	left:0px;
	margin:0;
	padding:0;
	border:none;
	background-color:#000000;
	height:25px;
	width:100%; 
	opacity:.5;
}
#logotria
{
	position:absolute;
	top:0%;
	bottom:0%;
	opacity:.9;
}
#logotrib
{
	position:absolute;
	top:0%;
	bottom:0%;
	opacity:.7;	
}
#logotric
{
	position:absolute;
	top:0%;
	bottom:0%;
	opacity:.7;	
}
#logotrid
{
	position:absolute;
	top:0%;
	bottom:0%;   
	opacity:.7; 
}
a:link {
    color: #6A8FCE;
}

a:visited {
    color: #6D66B3;
}

a:hover {
    color: #7094CF;
}
