<h1 align="center">2012-2013 News</h1>
<hr>

<h2 align="center"> May 18th, 2013 -</h2>
<p>Our team won 1st place at the National Tournament for the third time consecutively! With a score of 178 points, we won by a margin of 68 points, successfully defending our title. Our Solon Division B team won the National championship for the 6th year in a row, setting a Division B record with 167 points. Congratulations to Centerville High School (4th place) and Mentor Memorial Middle School (6th place). Thank you to everyone who helped make this national title possible. Congratulations to everyone on an amazing year!</p>
