<h1 align="center">2015-2016 News</h1>
<hr>

<h2> June 6th, 2016 - The 2016 Nationals Tournament and Beyond</h2>

<p>Well, this is ridiclously late (the tournament was held May 18th-21st), but congratulations to the two first-time Science Olympiad National Champions - 
	Mira Loma H.S. (Div C) and Daniel Wright J.H.S. (Div B)! We sorta owe you one Daniel Wright. 
	Solon's teams placed 7th (Div C) and 5th (Div B) out of 60 total teams. As Troy knows, the field has certainly gotten a lot more competitive.</p>

<p>It may not have ended where we would have liked it to end. Yet this season was amazing in both team performance and perseverance. We may not have been
	the most dominant team early on, and our early season results were less than spectacular. However, we quickly found our stride,
	showing we could do well with balanced teams (Team Josh vs Team Lois) at the Kenston Invitational, then leading to a stunning 2nd place at MIT, surprising
	Coach Sanson most of all. This unexpected victory over many of the top teams in nation (and yes, it seems strange for Solon to count 2nd place as a victory, 
	but it really was for us) continued to inspire us for the rest of the season - it was the loudest we had cheered for a placing since our equally unexpected 2013 
	Nationals win over Daniel Wright (all of us in Div B at the time).</p>
	
<p>Newly reinvigorated, we went on to capture our first invitational wins of the season at Wright State and Mentor, (between which there was a bit of kerfuffle regarding
	Pranav losing a rock-paper-scissors game for the Wright State trophy to Mentor, silly Pranav) before being upsetted at Regionals, of all places, by two impressive performances
	by teams Mentor and Chardon. We ended our regular invitational season seemingly "in the middle of nowhere" at West Liberty-Salem, even with strong showings from both our teams.
		</p>
		
<p>Unlike nearly all of invitationals, there is a full month before States, and thus there presents a time for a team to substantially step up or to substantially fall behind.
	It is believed that we did the former. With perserverance and a bit of luck from Rahul's inflatable RC turtle, Solon took back the State Championship and secured a place in
	Wisconsin, coming a long way quickly from the previous season's disappointment. And there we have it. The Solon team we knew had returned.</p>
	
<p>. . . </p>

<p>The next season begins now.</p>

<p>We bid farewell and good luck to our outgoing seniors, welcome to our incoming sophomores (who may have to triple up), and preserve these
	memories and experiences created over the past year. With high precedents and expectations from former Captains Josh Eston and Lois Wu (JLo), this Solon team with their new Captains
	have their path set out for them. We won't disappoint.</p>


<h2> April 9th, 2016 - Solon Wins 1st Place at States!</h2>

<p>. . . </p>
<p>We did it!</p>

<h2> March 7th, 2016 - In the middle of nowhere</h2>

<p>... is one way to describe West Liberty-Salem. It is also the home of a great invitational to end the 
	regular season. Solon's teams finished 3rd and 4th, behind Centerville and Mentor's A teams, 
	but with the lowest composite score (please correct me if I'm wrong, scoresheet is a bit blurry), 
	which is definitely a positive as we go onto States.</p>
	
<p>Speaking of States, lets go onwards to States! Now in less than 33 days. Countdown on the 
	<a href="https://ohso.osu.edu/state-tournament">official site</a>.</p>

<h2> March 3rd, 2016 - Last Invitational of the Season</h2>

<p>As the title says, this is our last invite together for this season, so let's make it count!</p>

<p>P.S. Don't forget to give your $50 check to Sanson tomorrow morning.</p>

<h2> February 21st, 2016 - I Should Stop With These Titles</h2>
<p>Against an impressive showing at Regionals yesterday, Solon took 3rd (95 points) and 4th place (97 points) behind Mentor and Chardon, whose teams
	scored 72 and 89 points respectively. Mentor's other team came in 5th with a score of 98 points. This year will certainly have an interesting
	field at States.</p>
	
	<p>Note: these results are unofficial and based on memory of the awards ceremony; official results (along with placings besides top 5) 
		have not yet been released.</p>

<h2> February 16th, 2016 - Don't Break This Streak</h2>

<p>By a very slim margin (2 points!), Solon's Team 39 took 1st place over Northville at the Mentor Invitational three days ago, 
	although we may have actually been second or even third to Mentor's teams (were we???), as they did not disclose 
	their scores. Solon's Team 40 took 4th. Detailed results soon.</p>
<p>Awards at Mentor were proceeded by a Rock-Paper-Scissors Tournament, which Pranav, despite all his practice, did not win. 
	He did however make it three or four rounds, so we are proud of him for his gallant effort. Also, we just may still owe Mentor
	a trophy....</p>

<h2> February 7th, 2016 - Broken Streaks</h2>

<p>Solon's teams placed 1st and 3rd at the WSU Invitational (revealed early during a slideshow mishap) yesterday, the first win of 2015-2016 season and the first victory at Wright State
	since its very first tournament back in 2012. Great job to all, and may the <a href="/DivC/results/history.php#Invitational_Results">upward season trend</a> continue!</p> 
	
<p>On a more solemn note, our Sophomore Representative Pranav preceded to lose an intense match of Rock, Paper, Scissors
	to a representative of the Mentor team immediately after awards in a humiliating 0-2 (best of three). Henceforth, we will be blaming him for all our problems.</p>
	
<p>Event placings have been posted on the <a href="https://scioly.org/phpBB3/viewtopic.php?f=214&t=7807&start=31">Scioly Forums</a>. Detailed results for our team will be more delayed than normal due to a restructuring of the program that creates the html for them. This, of course, is Pranav's fault. ^_^</p>

<h2> February 4th, 2016 - Be Prepared</h2>

<p>Wright State is important. Prepare/cram/procrastinate well.</p>

<h2> January 30th, 2016 - Solon Invitational Tests and Keys</h2>

<p>Tests and keys from 15 events (and counting) have been posted 
	<a href="/Registration/Solon2016DivC/login.php">here.</a> Passwords should have been
	emailed out to the coaches of all teams that attended, or will be emailed soon. (9:48PM EST Update:
	fixed an issue involving improper file names preventing the files from showing up after 
	login. All uploaded files should now be available. Apologies for the delay.)</p>


<h2> January 30th, 2016 - Solon Invitational Results</h2>

<p>Congratulations to the winner of the 22nd Annual Solon Science Olympiad Invitational:
	Mason High School A (C26) with a score of 115 points! Full results are 
	<a href="/DivC/downloads/2016 Solon Invitational Results.pdf">here.</a> A link to tests, keys, and
	raw scores will be emailed to the coaches in a few days. Thank you to everyone
	that attended and made this invitational possible! We hope to see you next year!</p>

<h2> January 30th, 2016 - Welcome to Solon!</h2>

<p>Hi all, and thank you for coming to the 22nd Annual Solon Invitational. We wish you a
	warm welcome from the cold outside. Files and additional information regarding the
	Invitational can be found <a href="/DivC/invitational.php">here.</a></p>

<h2> January 28th, 2016 - Solon Invite Preparations!</h2>

Huge list of stuff to do for Solon Invite<br>
<br>

Bring pop TOMORROW, EVERYONE<br>
Need parents, have them email us to help set up mechanicals, time for Wright Stuff<br>

<br>

To-Do List:<br>
<br>
On Friday (or tonight):<br>
	-Be here after school tomorrow, FAST, before 6pm concert<br>
	-Edit and print and hang room signs<br>
	-Prepare hospitality food, have parents respond to hospitality emails with what they're bringing<br>
	-Coaches packets<br>
	-Set up trophy case<br>
<br>

On Saturday: <br>
	-Be here 6:45 AM!<br>
	-(Parents) Concession Stand Shifts: 9am to 12pm, 12pm to 3pm<br>
	-Wear team shirts, get maps, direct people, be active in asking!<br>
	-Hospitality room (Keep the legend going, Solon team gets leftovers)<br>
	-Pre-awards raffle for Smash Tournament (maaaybe slightly rigged)<br>
	-Be nice to Mentor for one day (words of Sanson)<br>


<h2> January 24th, 2016 - MIT Invitational News</h2>

<p>Solon placed 2nd at the MIT Invitational against the likes of Troy (1st), Harriton (3rd), LASA (4th), and Mentor (7th), an amazing and unexpected result. The team subsequently survived freezing temperatures for half a night on a charter bus with no heating. = ) While our placing at this nationals-caliber tournament is a great accomplishment, don't forget the work is not over until May; there may be freezing temperatures yet.</p>

<p>Also, don't forget about the Solon Invitational, coming up this weekend!</p>


<h2> January 16th, 2016 - Kenston Invitational News</h2>

	<p>Competing as Team Lois vs. Team Josh, Solon took 2nd and 3rd place respectively at the Kenston Invitation, with both teams outscoring Mentor's B team. (Mentor's A team placed 1st.)
		In addition to a strong performance in competition, Solon won 1st place for "best newspaper dome," built during the pre-awards activity. With MIT coming up next week, the team hopes
		to continue the upward trend of invitational placements observed so far this season. Go team! </p>

<h2> January 14th, 2016 -</h2>

	Meeting Update:<br>
	
	<p>Do well, have fun. However, fun is somewhat related to wellness, so it is important to be well to have maximum fun. So be healthy? Maybe sleep.</p>
	<p>That is all.</p>

<h2> January 11th, 2016 -</h2>

	<p>Tests, answers keys, and !!!raw score reports for all events!!! from Westlake have been posted on the Intranet. Go stalk other teams. And maybe study too. Yes, that too.</p>

<h2> January 9th, 2016 -</h2>
	
	<p>Solon took 3rd place at the Westlake Invitational against some tough competition (including Mentor, who came in
		4th). Afterwards, there was a team-bonding activity at Captain Josh's house (read: Smash/card game/pizza party).
		Overall, a solid start to the season. Look forward to Kenston and detailed results later this week.</p>

<h2> January 7th, 2016 -</h2>

	Meeting Update:<br>
	- Westlake Itinerary was handed out<br>
	- Sign up for Solon Invite Jobs, Parent Contact List, Beverage Donations<br>
	- Duct Tape. We need duct tape. Duct tape is good. Good is duct. Bring us tape.<br>
	- Some Solon Alumni made an appearance (Brian Sang, Dorothy Chan, Amy Luo, Crystal Kong, sorry if I missed anyone)
	- Cherry Pepsi was spilled and haste was made to clean with the great teamwork of paper towels and Domino's napkins.

<h2> December 31st, 2015 -</h2>

	Happy New Year! (almost)


<h2> December 17th, 2015 -</h2>

	Sylvania-Northview results are finally up <a href="/DivC/results/2015_Sylvania-Northview.php">here</a>. Is there a meeting today?



<h2> December 10th, 2015 -</h2>

	Meeting Update:<br>
	- MIT? Parents going? Tell us...<br>
	- Signups for Solon Invitational Volunteer Help:<br>
	&nbsp; &nbsp;- Bring Beverages!<br>
	&nbsp; &nbsp;- Invite tasks (making signs, etc.)<br>
	&nbsp; &nbsp;- Hospitality Room food (give us parent info)<br>



<h2> December 8th, 2015 -</h2>

	<p>Tests from the Sylvania-Northview Invitational have been added to the Intranet! Detailed results are coming soon. Also, the <a href="https://www.northviewscienceolympiad.org/">Sylvania Northview Science Olympiad site</a> is quite nice.</p>
	<p>Thank you to Northview for hosting an excellent invitational to start off the new season!</p>
	<p>(Sorry for lack of updates recently, I have been dead. I really should get one of the PR persons to write these.)</p>



<h2> November 23rd, 2015 -</h2>

	UPDATE: The time of MANDATORY Mechanical Checkup @ SMS has been changed back to 6pm-8pm (was 7pm)<br>



<h2> November 18th, 2015 -</h2>

	Meeting Update:<br>
	- $50 for Sylvannia, give to Sanson (and mandatory duct tape?)<br>
	- Be excited for MANDATORY Mechanical Checkup @ SMS Nov 24 6pm-8pm!<br>
	- Mechanicals must be strong, not weak. Weak mechanicals are bad.<br>
	- Finish Josh's Grandma's cookies!



<h2> November 12th, 2015 -</h2>

	Meeting Update:<br>
	- MANDATORY Mechanical Checkup @ SMS Nov 24 6pm-9pm<br>
	- Permission slips!!!!<br>
	- SIGN UP FOR MECHANICALS YOU *awesome people*!



<h2> November 5th, 2015 -</h2>

	Meeting Update:<br>
	- MANDATORY Mechanical Checkup @ SMS Nov 24 6pm<br>
	- Get permission slips (schedules are being made!) tomorrow morning (slip under Geiger's door) if possible<br>
	- Buy magnets! ($6)<br>
	- 9 boxes of chocolate left to sell<br>
	- Last day for trial tests today<br>



<h2> October 29th, 2015 -</h2>

	<img class ="news" src="/DivC/images/SOMagnet.jpg" alt="SO Magnet" height="100">
	Meeting Update:<br>
	- WIDI (don't need to define abbrvs) and Cell Bio (bad test?) Trial Tests today<br>
	- SO Magnets (pictured) on sale now! To order, contact Voll or Geiger. Should arrive within a few weeks.<br>
	- Keep selling chocholates! Take advantage of the school's Malley's addictions!<br>
	- Mechanical checks starting in November (have something at least half built), final mechanical check on December 1st <br>
	- For workshop time, go to ThinkBox on Sundays 12pm - 4pm, let Tyler know beforehand<br>
	- XPD make-up test will be on November 3rd<br>



<h2> October 27th, 2015 -</h2>

	QOTD: Did anything website-worthy happen at the SO meeting today?<br>
	Answer: "lol no not at all"<br>
	<br>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Karen<br>
 


<h2> October 22th, 2015 -</h2>

	Meeting Update:<br>
	- Bring duct tapes and dues<br>
	- Pick up candy<br>
	- Work on mechanicals<br>
	- XPD make-up test date to be announced
 



<h2> October 15th, 2015 -</h2>

	Retroactive Meeting Update (10/21):<br>
	- There was a meeting on this day. I forgot what happened.<br>
	- Some trial tests were held (check calendar)<br>



<h2> October 8th, 2015 -</h2>

	Meeting Update: <br>
	- Invasive Species and Astro Tests today (UPDATE: results are up!) <br>
	- Pay Dues ($40 to Sanson, duct tape)<br>
	- Candy! =)
<br>


<h2> October 6th, 2015 -</h2>

	The Fossils and Dynamic Trial Tests were today. Best of luck to everyone who took them. Espcially Dynamic. Also, a Trial Test Results 2015-16 Google SpreadSheet should have been shared with you. If not, contact the captains.



<h2> October 3rd, 2015 -</h2>

	(Relatively) Major Update to Website, basically added a bunch of tables and a dropdown to the About Us tab that includes Officers and Competition Schedule pages.



<h2> October 1st, 2015 -</h2>

	Meeting Update: <br>
	- Permission Slips and Emergency Medical Forms <a href="https://eforms.solonschools.org/eforms">(here)</a><br>
	- Dues $40 plus + duct tape (AND 2 boxes of candy)<br>
	- Geomapping &amp; Survery -> TODAY!!!!<br>



<h2> September 24th, 2015 -</h2>

	Meeting Update: <br>
	- SURVEY (My god just do it already)<br>
	- DUES ($40 plus roll of duct tape) -> Sanson ("Give me money ASAP")<br>
	- Trial Tests:<br>
	&nbsp; &nbsp; -Geo Mapping Trial Test next Thursday (Oct 1)<br>
	&nbsp; &nbsp; -Fossil and Dynamic on Tuesday (Oct 6)<br>
	&nbsp; &nbsp; -Invasive and Astro on Thursday (Oct 8)<br>
	- Medical Forms



<h2> September 23rd, 2015 -</h2>

	The Intranet is up and running here: <a href="https://sites.google.com/site/solonhsscienceolympiad">https://sites.google.com/site/solonhsscienceolympiad</a><br>
	The idea is that we can more easily share links and tests, since anyone who logs in may edit pages for each event.



<h2> September 17th, 2015 -</h2>

	Meeting Update: <br>
	- Fill out the d@rn survey!!! <br>
	- Update email info if new <br>
	- Trial Tests sign-ups for Geologic Mapping, Invasive Species, Fossils <br>
	- Club dues $40, give to Sanson (checks to Solon BOE, name in memo line) <br>
	- Turn in permission slips 
<br>


<h2> September 17th, 2015 -</h2>

	<div class="strike"><p>Finally got around to posting this info. Will make own page for it later on.</p>
	<h3>For the 2015-2016 Season:</h3></div>
	
	<p>(UPDATE 10/3/2015: <a href="officers/15-16.php">DONE</a>)</p>


<h2> September 24th, 2015 -</h2>

	<p>We're off to a great start! Please check back here for more information about our 2016 Invitational and team news.</p>



<br>
