<h2>Officers</h2>
<div class="profilesFlexContainer">
<table class="bio">
  <tr>
    <td class="biopic" rowspan="2"><img class="biopic" src="/DivC/images/profilepics/JonathanW17.gif"/></td>
    <td class="bioname">Jonathan Wang</td>		
  </tr>
  <tr>
    <td class="bio">"I am the female monster"</td>		
  </tr>
  <tr>
    <td class="biooffice" colspan="2">Co-Captain</td>	
  </tr>
</table>

<table class="bio">
  <tr>
    <td class="biopic" rowspan="2"><img class="biopic" src="/DivC/images/profilepics/MichaelZ17.gif"/></td>
    <td class="bioname">Michael Zhan</td>		
  </tr>
  <tr>
    <td class="bio">"Please stop obsessing over the website - that's Aman's job now"</td>		
  </tr>
  <tr>
    <td class="biooffice" colspan="2">Co-Captain</td>	
  </tr>
</table>

<table class="bio">
  <tr>
    <td class="biopic" rowspan="2"><img class="biopic" src="/DivC/images/profilepics/TimothyJ17.gif"/></td>
    <td class="bioname">Timothy Jin</td>		
  </tr>
  <tr>
    <td class="bio">	</td>		
  </tr>
  <tr>
    <td class="biooffice" colspan="2">Secretary</td>	
  </tr>
</table>

<table class="bio">
  <tr>
    <td class="biopic" rowspan="2"><img class="biopic" src="/DivC/images/profilepics/KarenD17.gif"/></td>
    <td class="bioname">Karen Dong</td>		
  </tr>
  <tr>
    <td class="bio">"Leave me alone" -twenty one pilots</td>		
  </tr>
  <tr>
    <td class="biooffice" colspan="2">Historian</td>	
  </tr>
</table>

<table class="bio">
  <tr>
    <td class="biopic" rowspan="2"><img class="biopic" src="/DivC/images/profilepics/VishalS17.gif"/></td>
    <td class="bioname">Vishal Sundaram</td>		
  </tr>
  <tr>
    <td class="bio">"Give me your money"</td>		
  </tr>
  <tr>
    <td class="biooffice" colspan="2">Public Relations</td>	
  </tr>
</table>

<table class="bio">
  <tr>
    <td class="biopic" rowspan="2"><img class="biopic" src="/DivC/images/profilepics/AmanJ18.gif"/></td>
    <td class="bioname">Aman Jain</td>		
  </tr>
  <tr>
    <td class="bio">"It's not entirely my job..."</td>		
  </tr>
  <tr>
    <td class="biooffice" colspan="2">Technology Manager</td>	
  </tr>
</table>
</div>