<!--
Co-Captains: Yash Kankariya and Rebecca Liebson
Junior Co-Captains: Lindsey Maurer, Michelle Park, Scott Zhou
Secretary: Adi Roy
Co-Treasurers: Kesav Kosana and Suder Natesan 
Tech Manager: Michael Kong
Assistant Tech Manager: Ryan Li
Public Relations: Louisa Liu and Fareeda Naduvil
-->

<h2>Officers</h2>
<div class="profilesFlexContainer">
<table class="bio">
  <tr>
    <td class="biopic" rowspan="2"><img class="biopic" src="/DivC/images/profilepics/YashK21.gif"/></td>
    <td class="bioname">Yash Kankariya</td>		
  </tr>
  <tr>
    <td class="bio">                          </td>		
  </tr>
  <tr>
    <td class="biooffice" colspan="2">Co-Captain</td>	
  </tr>
</table>

<table class="bio">
  <tr>
    <td class="biopic" rowspan="2"><img class="biopic" src="/DivC/images/profilepics/RebeccaL21.gif"/></td>
    <td class="bioname">Rebecca Liebson</td>		
  </tr>
  <tr>
    <td class="bio">                      </td>		
  </tr>
  <tr>
    <td class="biooffice" colspan="2">Co-Captain</td>	
  </tr>
</table>

<table class="bio">
  <tr>
    <td class="biopic" rowspan="2"><img class="biopic" src="/DivC/images/profilepics/LindseyM22.gif"/></td>
    <td class="bioname">Lindsey Maurer</td>		
  </tr>
  <tr>
    <td class="bio">                      </td>		
  </tr>
  <tr>
    <td class="biooffice" colspan="2">Junior Co-Captain</td>	
  </tr>
</table>

<table class="bio">
  <tr>
    <td class="biopic" rowspan="2"><img class="biopic" src="/DivC/images/profilepics/MichelleP22.gif"/></td>
    <td class="bioname">Michelle Park</td>		
  </tr>
  <tr>
    <td class="bio">                      </td>		
  </tr>
  <tr>
    <td class="biooffice" colspan="2">Junior Co-Captain</td>	
  </tr>
</table>

<table class="bio">
  <tr>
    <td class="biopic" rowspan="2"><img class="biopic" src="/DivC/images/profilepics/ScottZ22.gif"/></td>
    <td class="bioname">Scott Zhou</td>		
  </tr>
  <tr>
    <td class="bio">                      </td>		
  </tr>
  <tr>
    <td class="biooffice" colspan="2">Junior Co-Captain</td>	
  </tr>
</table>

<table class="bio">
  <tr>
    <td class="biopic" rowspan="2"><img class="biopic" src="/DivC/images/profilepics/MichaelK21.gif"/></td>
    <td class="bioname">Michael Kong</td>		
  </tr>
  <tr>
    <td class="bio">                      </td>		
  </tr>
  <tr>
    <td class="biooffice" colspan="2">Technology Manager</td>	
  </tr>
</table>

<table class="bio">
  <tr>
    <td class="biopic" rowspan="2"><img class="biopic" src="/DivC/images/profilepics/RyanL22.gif"/></td>
    <td class="bioname">Ryan Li</td>		
  </tr>
  <tr>
    <td class="bio">                      </td>		
  </tr>
  <tr>
    <td class="biooffice" colspan="2">Assistant Technology Manager</td>	
  </tr>
</table>

<table class="bio">
  <tr>
    <td class="biopic" rowspan="2"><img class="biopic" src="/DivC/images/profilepics/LouisaL21.gif"/></td>
    <td class="bioname">Louisa Liu</td>		
  </tr>
  <tr>
    <td class="bio">                      </td>		
  </tr>
  <tr>
    <td class="biooffice" colspan="2">Co-Public Relations</td>	
  </tr>
</table>

<table class="bio">
  <tr>
    <td class="biopic" rowspan="2"><img class="biopic" src="/DivC/images/profilepics/FareedaN22.gif"/></td>
    <td class="bioname">Fareeda Naduvil</td>		
  </tr>
  <tr>
    <td class="bio">                      </td>		
  </tr>
  <tr>
    <td class="biooffice" colspan="2">Co-Public Relations</td>	
  </tr>
</table>

<table class="bio">
  <tr>
    <td class="biopic" rowspan="2"><img class="biopic" src="/DivC/images/profilepics/AdityaR22.gif"/></td>
    <td class="bioname">Adi Roy</td>		
  </tr>
  <tr>
    <td class="bio">                      </td>		
  </tr>
  <tr>
    <td class="biooffice" colspan="2">Secretary</td>	
  </tr>
</table>

<table class="bio">
  <tr>
    <td class="biopic" rowspan="2"><img class="biopic" src="/DivC/images/profilepics/KesavK21.gif"/></td>
    <td class="bioname">Kesav Kosana</td>		
  </tr>
  <tr>
    <td class="bio">                      </td>		
  </tr>
  <tr>
    <td class="biooffice" colspan="2">Co-Treasurer</td>	
  </tr>
</table>

<table class="bio">
  <tr>
    <td class="biopic" rowspan="2"><img class="biopic" src="/DivC/images/profilepics/SuderN22.gif"/></td>
    <td class="bioname">Suder Natesan</td>		
  </tr>
  <tr>
    <td class="bio">                      </td>		
  </tr>
  <tr>
    <td class="biooffice" colspan="2">Co-Treasurer</td>	
  </tr>
</table>
