<!-----Makes the images nice and centered----->
<style>
img 
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>

<h1 align="center">Latest Team News and Events</h1>
<hr>

<!------------------------WRITE YOUR UPDATES HERE------------------->

<h2> October 31st, 2019 - Halloween! </h2>
<p class="center">
Spooky szn is drawing to a close, and our first invitational is almost upon us! Here's a deep dab (courtesy of Mu) to inspire you to study for your events:
</p>
<img src="/DivC/images/news/Supereffective.jpg" title="Pika Pika!" style="width:65%">

<h2> September 26th, 2019 - Mamma Mia (Here We Go Again) </h2>
<p class="center">
Hey, it's ya boi Kevin. I'm starting to get the hang of editing this website, which is nice. More importantly, this season is already shaping up to be one of our strongest yet. I see everyone already hard at work preparing for their events, and I'm confident that we're going to have an amazing year. Keep it up!
</p>
