<h1>Overview</h1>
<hr>
<p>Welcome!</p>
<p>On this website, you will find information, pictures, and past results of the Division C Solon Science Olympiad Team. Feel free to look around at your leisure.</p>
<p>From the National Science Olympiad website: "Science Olympiad is a national non-profit organization dedicated to improving the quality of K-12 science education, increasing male, female and minority interest in science, creating a technologically-literate workforce and providing recognition for outstanding achievement by both students and teachers. These goals are achieved by participating in Science Olympiad tournaments and non-competitive events, incorporating Science Olympiad into classroom curriculum and attending teacher training institutes."</p>
<p>The Solon Science Olympiad team has been one of the most successful programs in the state of Ohio and in the nation. Our team is one of the largest in the state. Between 2011-2013, we captured First Place at the National Tournament along with our Middle School Team. This season, we hope to advance to the State Tournament in April and, with collaboration and support from the rest of the team, advance to the National tournament in May at North Carolina State University!</p>
<p>If you have any questions or concerns, please email them to <b>solonscienceolympiad@gmail.com</b>.</p>
<p>For more information on Solon High School's history, visit the scioly.org <a href="https://scioly.org/wiki/index.php/Solon_High_School">wiki page</a>.</p><br>
	<div id="push"></div>
